{% load static %}
<!DOCTYPE HTML>
<html>
	<head>

		{% block title %}
		{% endblock %}

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/maint.css' %}" />
		{% block styles %}
		{% endblock %}
		<script type="text/javascript">
			function addbank(){
				var obj = document.getElementById("textTwo");
				obj.style.visibility = "visible";
			}
			function removeBank(){
				var obj = document.getElementById("textTwo");
				obj.style.visibility = "hidden";
			}
			// var textTwo = document.getElementById("textTwo");
			// //Get the value of textOne textbox input
			// var textOneValue = textOne.value;
			 
			// var textTwoValue = textOneValue;
			// //Assign the value of textOne textbox to textTwo textbox
			// textTwo.value = textTwoValue;
		</script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
						<nav id="nav">
							<ul>
								<li><a href="/cyclic">Cyclic Attack</a></li>
								<li><a href="/cct">Chosen Chiper Text</a></li>
								
								<li><a href="/blind">Blind Signature</a></li>
 
							</ul>
						</nav>
						<div>
							{% block content %}
							{% endblock %}
						</div>	
			
		</div>
		


	</body>
</html>

